@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	outline: 0;
}

main {
	width: 100%;
	height: 100vh;
	background: #333;
	display: flex;
}

main header {
	width: 20%;
	height: 100%;
	padding: 10vh 5vw;
	display: flex;
	flex-wrap: wrap; /*세로로 줄 바꿈 되도록 처리*/
	align-content: space-between; /*세로축은 상단 하단 양 끝으로 콘텐츠를 배치*/
	justify-content: center; /*가로축은 가운데로 배치*/
	position: relative;
	z-index: 3;
}

main header h1 {
	font-size: 0px;
	color: #fff;
}

main header h1 i {
	font-size: 7vw;
	margin-bottom: 15px;
}

main header h1 span {
	font: normal 0.9vw/1 "arial";
}

main header address {
	font: normal 11px/1.2 "arial"; 
	color: #888;
}

main nav {
	position: absolute;
	top: 10vh;
	right: 5vw;
	z-index: 3;
}

main nav ul {
	display: flex;
}

main nav ul li a {
	font-size: 18px;
	color: #bbb;
	margin-right: 30px;
}

main section {
	position: relative;
	width: 80%;
	height: 100%;
	display: flex;
	padding-top: 140px;
	z-index: 1;
}

main section article {
	position: relative;
	flex: 1; /*모든 article 요소의 너비를 동등하게 적용*/
	padding: 70px 40px 100px;
	opacity: 0.6;
	transition: flex 1s, opacity 1s; /*flex, opacity 속성에만 전환 효과 적용*/
	z-index: 1;
	cursor: pointer;
}

main section article::before { /*미우스 호버시 왼쪽에서 나타날 가상의 패널 요소*/
	content: "";
	display: block;
	width: 80%;
	height: 95%;
	background: #444;
	position: absolute;
	top: 0px;
	left: -200px;
	opacity: 0;
	transition: 1s;
}

main section article .inner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	position: relative;
}

main section article .inner .txt {
	width: 100%;
	transition: 0.5s;
}

main section article .inner .txt h2 {
	font: normal 2.25vw/1 "Alegreya Sans SC";
	color: #fff;
	margin-bottom: 40px;
	padding-top: 70px;
	transition: 1s;
}

main section article .inner .txt h2::after {
	content: "";
	display: block;
	width: 40px;
	height: 2px;
	background: #777;
	margin-top: 20px;
	transition: 1.5s;
}

main section article .inner .txt p {
	font: 14px/1.4 "arial";
	color: #999;
}